@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/accordion.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/navbar-fixed-top.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/caroussel.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tableau.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

         <script src="@routes.Assets.at("javascripts/jquery-2.0.3.js")" type="text/javascript"></script>
         <script src="@routes.Assets.at("javascripts/holder.js")" type="text/javascript"></script>
         <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
		 <script src="@routes.Assets.at("javascripts/dataTables.js")" type="text/javascript"></script>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
    	@content
    </body>
</html>
