/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
  height: 100%;
  background-color: #777;
  margin-top: -90px;
}
img {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

